<mat-card>
  <mat-card-content>
    <ul>
      <ng-container *ngFor="let item of users">
        <li *ngIf="item.role == 'admin'">
          {{item.login}}
        </li>
      </ng-container>
    </ul>
    <mat-list>
      <h3 mat-subheader>User</h3>
      <ng-container *ngFor="let item of users">
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>{{item.login}}</h4>
          <h4 mat-line>{{item.role}}</h4>
          <h4 mat-line>{{item.lastLogin | date}}</h4>
          <button mat-stroked-button color="primary">Open</button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>