<button mat-raised-button color="warn">OK</button>
<button mat-raised-button color="basic">OK</button>
<button mat-raised-button color="accent">OK</button>
<button mat-raised-button color="primary">OK</button>
<button mat-raised-button disabled>OK</button>
<a mat-raised-button routerLink="https://material.angular.io/components/button/examples">OK</a>


<mat-icon>face</mat-icon>

<app-string-interpolation></app-string-interpolation>
<app-property-binding></app-property-binding>

<app-event-binding></app-event-binding>

<app-two-way-data-binding></app-two-way-data-binding>