<button mat-raised-button color="warn">OK</button>
<button mat-raised-button color="basic">OK</button>
<button mat-raised-button color="accent">OK</button>
<button mat-raised-button color="primary">OK</button>
<button mat-raised-button disabled>OK</button>
<a mat-raised-button routerLink="https://material.angular.io/components/button/examples">OK</a>


<mat-icon>face</mat-icon>

<app-string-interpolation></app-string-interpolation>
<app-property-binding></app-property-binding>

<app-event-binding></app-event-binding>

<app-two-way-data-binding></app-two-way-data-binding>

<app-ng-style></app-ng-style>

<app-ng-class></app-ng-class>

<app-ng-if></app-ng-if>

<app-ng-for></app-ng-for>

<app-ng-for-form></app-ng-for-form>

<app-ng-switch></app-ng-switch>

<app-ng-template></app-ng-template>

<app-ng-container></app-ng-container>

<app-ng-content>
    <p>My name is <strong>Natan Maia</strong>, nice to meet you</p>
    <p>one more guitar, please!</p>
</app-ng-content>