<p>
  string-interpolation works --> {{ nome }}
</p>

<mat-card class="mycard">
  <mat-card-header>
    <mat-card-title>Dados</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>NOME: {{ pessoa.nome }}</p>
    <p>SOBRENOME: {{ pessoa.sobrenome }}</p>
    <p>IDADE: {{ pessoa.idade }}</p>
    <p>ENDEREÇO: {{ pessoa.endereco }}</p>

    <form>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome" value="{{ pessoa.nome }}">
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>